.body-main
	h2.body-h2 Расскажите о себе чекбоксами
	p.body-p Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
	.body-wrapp-checkbox
		.wrapp-check-box-width33
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox", checked)
				label.checkbox-label(for="checkbox", style='opacity: 1' ) БЭМ/OOCSS
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox", checked)
				label.checkbox-label(for="checkbox", style='opacity: 1') Pug (Jade)
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox", checked)
				label.checkbox-label(for="checkbox", style='opacity: 1') Stylus/LESS/SASS
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox")
				label.checkbox-label(for="checkbox" ) Работаю с SVG
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox", checked)
				label.checkbox-label(for="checkbox", style='opacity: 1' ) Верстаю семантично
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox")
				label.checkbox-label(for="checkbox" ) Accessibility (A11Y)
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox")
				label.checkbox-label(for="checkbox" ) ES2015/ES2016
		.wrapp-check-box
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox", checked)
				label.checkbox-label(for="checkbox", style='opacity: 1' ) Gulp/GRUNT
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox")
				label.checkbox-label(for="checkbox") Webpack
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox")
				label.checkbox-label(for="checkbox") Дружу с WebGL
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox", checked)
				label.checkbox-label(for="checkbox", style='opacity: 1' ) jQuery
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox")
				label.checkbox-label(for="checkbox" ) Знаю/изучаю Angular
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox")
				label.checkbox-label(for="checkbox" ) Знаю/изучаю React
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox")
				label.checkbox-label(for="checkbox" ) Знаю/изучаю Node.js
		.wrapp-check-box.wrapp-check-box_position
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox", checked)
				label.checkbox-label(for="checkbox", style='opacity: 1' ) Использую Git
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox", checked)
				label.checkbox-label(for="checkbox", style='opacity: 1') С глазомером всё ок
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox", checked)
				label.checkbox-label(for="checkbox", style='opacity: 1') Читаю 
					a.checkbox-label__a(href="#") blog.csssr.ru
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox", checked)
				label.checkbox-label(for="checkbox", style='opacity: 1' ) Я ленивый(-ая)
			.wrapper-check-box__div
				input.checkbox#checkbox(type="checkbox")
				label.checkbox-label(for="checkbox" ) У меня хороший 
					span.checkbox-label__span английский
	.body-java
		h2.body-h2.body-h2_padding-left Уровень владения JavaScript
		.java-wrapp
			.java-wrapp__triangle
				.java__triangle
					img.java-triangle__img(src="assets/images/triangle.png", alt="triangle")
			.java-wrapp__graph
				.java__graph
					img.java-graph__img(src="assets/images/graph.png", alt="graph")
			.java-wrapp__comments
				.java-wr__comment-wr__p-1
					p.java-comment__p Не владею
				.java-wr__comment-wr__p-2
					p.java-comment__p Использую готовые решения
				.java-wr__comment-wr__p-3
					p.java-comment__p Использую готовые решения и умею их переделывать
				.java-wr__comment-wr__p-4
					p.java-comment__p Пишу сложный JS с нуля
		.body-area
			h2.body-h2 Расскажите о себе словами
			p.body-p Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
			ul.body-area-ul
				li.body-area-li
					p.body-area__p Хочется реального общения с теми кто все 
				li.body-area-li
					p.body-area__p знает. Попробовать свои силы в этом деле,
				li.body-area-li
					p.body-area__p понять куда двигаться дальше и чего ждать 
				li.body-area-li
					p.body-area__p на пути.