@font-face {
  font-family: 'CourierNew';
  src: url('fonts/CourierNew/cour___0-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/CourierNew/cour___0-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/CourierNew/cour___0-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/CourierNew/cour___0-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/CourierNew/cour___0-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/CourierNew/cour___0-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'PTSansBold';
  src: url('fonts/PTSansBold/ptsansbold-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/PTSansBold/ptsansbold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/PTSansBold/ptsansbold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/PTSansBold/ptsansbold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/PTSansBold/ptsansbold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/PTSansBold/ptsansbold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'PTSansRegular';
  src: url('fonts/PTSansRegular/ptsansregular-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/PTSansRegular/ptsansregular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/PTSansRegular/ptsansregular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/PTSansRegular/ptsansregular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/PTSansRegular/ptsansregular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/PTSansRegular/ptsansregular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}







