/*          FONTS         */

font-f__PTSansBold = PTSansBold
font-f__PTSansRegular = PTSansRegular
font-f__CourierNew = CourierNew

text__color = rgb(47, 27, 21)
text__comment__color = rgb(61, 61, 61)
text__a__color = rgb(31, 95, 151)
text__color__Courier_New = rgb(35, 31, 32)
text__color__label = rgb(0, 0, 0)


