.header
	.header-logo
		a.header-logo-a
			img(src="assets/images/logo.png", alt="logotip")
	img.header-img-secret(src="assets/images/secret.png", alt="secret")
	img.header-img-delo(src="assets/images/delo.png")
	ul.header-ul
		li.header-li
			.header-li__div.header-li__div__width-1
				p.header-li-div__p Полное ФИО
			.header-li__div-wrapp-input
				input.header-li__div-input#haeder-li__div-input(type="text")
		li.header-li
			.header-li__div.header-li__div__width-2
				p.header-li-div__p Год рождения
			.header-li__div-wrapp-input
				input.header-li__div-input#haeder-li__div-input(type="text")
		li.header-li
			.header-li__div.header-li__div__width-3
				p.header-li-div__p Место жительства
			.header-li__div-wrapp-input
				input.header-li__div-input#haeder-li__div-input(type="text")
		li.header-li
			.header-li__div.header-li__div__width-4
				p.header-li-div__p Скайп
			.header-li__div-wrapp-input
				input.header-li__div-input#haeder-li__div-input(type="text")
		li.header-li
			.header-li__div.header-li__div__width-5
				p.header-li-div__p Почта
			.header-li__div-wrapp-input
				input.header-li__div-input#haeder-li__div-input(type="text")
