.page
	width 1000px
	margin 0 auto
	padding 20px 110px
	background url('images/main-bkg.jpg')
	position relative

.header-logo
	padding-top 40px

.header-img-secret
	position absolute
	right 53px
	top 50px

.header-img-delo
	display block
	margin 40px auto
	position relative
	right 20px

.header-ul
	padding 8px 8px 0 0

.header-li
	margin-bottom 10px
	display flex

.header-li__div__width-1
	width 180px

.header-li__div__width-2
	width 195px

.header-li__div__width-3
	width 260px

.header-li__div__width-4
	width 80px

.header-li__div__width-5
	width 80px

.header-li-div__p, .footer-date__p
	font-size 22px
	font-family font-f__PTSansBold
	color text__color
	position relative
	bottom -26px

.header-li__div-wrapp-input
	width 100%
	background url('images/border-bottom.png') left bottom no-repeat
	padding-bottom 10px

.header-li__div-input, .footer-date__input
	background transparent
	width 100%
	height 40px
	font-family font-f__CourierNew
	font-size 30px
	text-indent 10px
	color text__color__Courier_New
	border none

